.ram-button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    border: 2px solid gray;
}

.ram-button:hover{
    background-color: black;
    color: white;
}

.storage-button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    border: 2px solid gray;
}

.storage-button:hover{
    background-color: black;
    color: white;
}

.delivery-button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    border: 2px solid gray;
}

.delivery-button:hover{
    background-color: black;
    color: white;
}

.total-price{
    color: black;
    border-top: 2px solid rgb(0, 0, 0);
}

.promo-btn{
    background-color: rgb(235, 24, 77);
    color: white;
    border: none;
    font-weight: 500;
}